{% extends 'layout.twig' %}
{% set conf %}
{% include "../routes/config.json" %}
{% endset %}
{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
<h3>Endpoints</h3>
  <p>- <a href="{{ baseurl }}/news">{{ baseurl }}/news</a></p>
  <p>- <a href="{{ baseurl }}/shares">{{ baseurl }}/shares</a></p>

  <h4>quote ( {{ baseurl }}/shares/{symbol}/share/quetes) liefert</h4>
  <p>o: eröffnungspreis Tag</p>
  <p>h: höchste Tagespreis</p>
  <p>l: niedrigster Tagespreis</p>
  <p>c: aktueller Preis</p>
  <p>pc: Schluss Kurs</p>


{% endblock %}
